#include <windows.h>
#include "resources.h"

IDD_CHOOSEDISK DIALOG DISCARDABLE  0, 0, 300, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Create disk"
FONT 8, "MS Sans Serif"
BEGIN
	CTEXT "Disk:", IDC_STATIC, 10, 14, 35, 25
	COMBOBOX ID_COMBO_DISK, 55, 12, 50, 65, CBS_DROPDOWNLIST
	GROUPBOX "Choose folders", IDC_STATIC, 95, 130, 90, 25
	CHECKBOX "Sort folder", ID_CHECKBOX_SORT, 10, 55, 100, 20, BS_AUTOCHECKBOX
	CHECKBOX "Encrypt folder", ID_CHECKBOX_ENCRYPT 10, 75, 100, 20, BS_AUTOCHECKBOX
	DEFPUSHBUTTON "&Create folders", ID_BTN_CREATE_FOLDERS 95, 130, 90, 25
END