#include <windows.h>
#include "resources.h"

IDD_NEWDISK DIALOG DISCARDABLE  0, 0, 300, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Create disk"
FONT 8, "MS Sans Serif"
BEGIN
	CTEXT "Name:", IDC_STATIC, 10, 32, 35, 25
	EDITTEXT ID_EDIT_DISKNAME, 45, 30, 220, 20
	CTEXT "Size:", IDC_STATIC 10, 57, 35, 25
	EDITTEXT ID_EDIT_DISKSIZE, 45, 55, 220, 20
	CTEXT "Folder:", IDC_STATIC, 10, 82, 35, 25
	EDITTEXT ID_EDIT_DISKFOLDER, 45, 80, 220, 20
	DEFPUSHBUTTON "&Create", ID_BTN_CREATE 10, 115, 130, 25
	DEFPUSHBUTTON "&Create and mount", ID_BTN_CREATE_AND_MOUNT 145, 115, 130, 25
END